body {
    padding: 0;
    margin: 100;
    background: FireBrick;
}


/** Header styles **/

h1 {
    color: Gold;
    font-family: 'blackadder', sans-serif;
    font-size: 100px;
    line-height: 76px;
    margin: 75px;
    position: relative;
    text-align: center;
    top: 20%;
    text-decoration:underline;
}


/** List style **/

h2 {
    color: Gold;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
     background-color: Gold;
    
}

ul {
    margin: 100 auto;
    padding: 0;
    width: 50%;
}

li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
    font-size: 20px;
}

p {
    color: Gold;
    line-height: 32px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

a {
    color: Goldenrood;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 2px;
}
